Repository LABS-EU3/wt_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

pull remote
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/FriendsTab.jsx
  src/components/common/Search.jsx
Due: prettier --write

Added build android script
  package.json
Due: none

Added missing import class google auth
  android/app/src/main/java/com/trackdrills/app/MainActivity.java
Due: none

Added network security configuration
  android/app/src/main/res/xml/network_security_config.xml
Due: none

Fixed ERR_CLEARTEXT_NOT_PERMITTED
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/xml/network_security_config.xml
  src/components/auth/LogIn.jsx
Due: prettier --write

created upload pic widget
  src/components/common/EditPicture.jsx
  src/components/common/EditProfile.jsx
Due: prettier --write

Adjusted google login to android/ios
  android/app/src/main/res/xml/network_security_config.xml
  src/components/auth/LogIn.jsx
  src/graphql/mutations.js
Due: prettier --write

implemented photo update for profile
  src/components/common/EditPicture.jsx
  src/components/common/EditProfile.jsx
  src/components/dashboard/ProfilePage.jsx
Due: prettier --write

fix caching issue
  src/components/buddies/FriendsTab.jsx
  src/components/common/Footer.jsx
  src/components/message/Styledmessages.js
  src/components/schedule/ScheduleDetail.jsx
  src/components/workouts/WorkoutList.jsx
  src/index.js
Due: eslint, prettier --write

cleanup console errors
  src/components/auth/AccountRecovery.jsx
  src/components/dashboard/Dashboard.jsx
  src/components/schedule/ScheduleDetail.jsx
  src/components/workouts/CustomWorkoutDetail.jsx
  src/components/workouts/Workout.jsx
  src/components/workouts/WorkoutActionItems.jsx
  src/components/workouts/WorkoutDetail.jsx
  src/components/workouts/WorkoutHistory.jsx
  src/components/workouts/WorkoutHistoryCard.jsx
  src/components/workouts/Workouts.jsx
  src/index.js
Due: eslint, prettier --write

cleanup console errors
  src/components/workouts/WorkoutHistory.jsx
  src/components/workouts/WorkoutHistoryCard.jsx
  src/components/workouts/WorkoutHistoryStyle.js
Due: prettier --write

cleanup console errors
  src/assets/trackdrills_banner.png
  src/components/message/Styledmessages.js
Due: prettier --write

added functionality to editpictures on profile
  src/components/common/EditPicture.jsx
  src/components/common/EditProfile.jsx
Due: prettier --write

added upload picture to customWorkout
  src/components/workouts/CustomWorkoutDetail.jsx
Due: prettier --write

fix unlimited request loading
  src/components/auth/LogIn.jsx
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/FriendsRequestTab.jsx
  src/components/buddies/FriendsTab.jsx
Due: prettier --write

fix unlimited request loading
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/FriendsTab.jsx
  src/components/common/Search.jsx
Due: prettier --write

fixed friends state to update on add and response
  src/components/buddies/BuddiesCard.jsx
  src/components/buddies/FriendsRequestTab.jsx
  src/components/buddies/FriendsTab.jsx
Due: prettier --write

edited image css to correct stretch
  src/App.css
Due: none

complete mobile style for profile
  src/components/dashboard/ProfilePage.jsx
Due: prettier --write

styling for profile complete
  src/components/dashboard/DashboardStyle.js
  src/components/dashboard/ProfilePage.jsx
Due: prettier --write

fix messaging
  src/components/message/MessageDetail.jsx
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
  src/components/message/Styledmessages.js
Due: prettier --write

correction to profile on dashboard
  src/components/dashboard/Dashboard.jsx
  src/components/dashboard/DashboardStyle.js
Due: prettier --write

fix modal
  src/components/workouts/WorkoutHistoryCard.jsx
  src/components/workouts/WorkoutHistoryStyle.js
Due: prettier --write

fix modal
  src/graphql/queries.js
Due: prettier --write

correction to profile on dashboard for mobbile
  src/components/dashboard/DashboardStyle.js
Due: prettier --write

Added Google login for iOS build
  ios/App/App/GoogleService-Info.plist
  ios/App/App/Info.plist
Due: none

edited styling for button
  src/components/workouts/WorkoutStyle.js
Due: prettier --write

modified styling for entire page
  src/components/workouts/CustomWorkoutDetail.jsx
Due: prettier --write

built notification query
  src/graphql/queries.js
Due: prettier --write

added notifications to dashboard
  src/components/common/Notification.jsx
  src/components/dashboard/Dashboard.jsx
Due: prettier --write

fixed customWorkout picture bug
  src/components/workouts/CustomWorkoutDetail.jsx
  src/graphql/mutations.js
Due: prettier --write

Added ios build scripts
  package.json
Due: none

finish layout for picture area in profile
  src/components/dashboard/DashboardStyle.js
  src/components/dashboard/ProfilePage.jsx
Due: prettier --write

commit
  src/components/dashboard/DashboardStyle.js
  src/components/dashboard/ProfilePage.jsx
Due: prettier --write

update the documentation
  README.md
Due: none

complete layout
  src/components/dashboard/DashboardStyle.js
Due: prettier --write

added the API to
  README.md
Due: none

edited env
  README.md
Due: none

fixed input and select merge conflicts
  src/components/workouts/CustomWorkoutDetail.jsx
Due: prettier --write

Path conditions:
  eslint: any of: ./src/*.{js,jsx}
  prettier --write: any of: ./src/**/*.{js,json,jsx}
