Repository LABS-EU3/wt_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

messages
  src/components/message/MessageDetail.jsx
  src/components/message/Styledmessages.js
  src/graphql/queries.js
Due: prettier --write

Fixed file path
  .gitignore
  platforms/ios/Podfile
  plugins/cordova-plugin-whitelist/package.json
Due: none

messages
  src/components/message/MessageDetail.jsx
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
  src/components/message/Styledmessages.js
Due: prettier --write

edited AddFriendsTab to respond to BE res
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/BuddiesCard.jsx
Due: prettier --write

message detail
  src/components/message/MessageDetail.jsx
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
  src/components/message/Styledmessages.js
Due: prettier --write

message detail
  src/components/message/MessageDetail.jsx
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
Due: prettier --write

message detail
  src/components/message/MessageList.jsx
Due: prettier --write

message detail
  src/components/message/MessageDetail.jsx
  src/components/message/Messages.jsx
Due: prettier --write

message detail
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
  src/components/message/Styledmessages.js
Due: prettier --write

message detail
  src/components/message/MessageList.jsx
  src/components/message/Styledmessages.js
Due: prettier --write

message detail
  src/components/message/MessageDetail.jsx
  src/components/message/MessageList.jsx
Due: prettier --write

Removed empty line
  package.json
Due: none

message detail
  src/components/buddies/FriendsTab.jsx
  src/components/message/MessageDetail.jsx
  src/components/message/Messages.jsx
Due: prettier --write

message detail
  src/App.jsx
  src/components/buddies/Buddies.jsx
  src/components/buddies/BuddiesCard.jsx
  src/components/buddies/FriendsTab.jsx
  src/components/dashboard/Dashboard.jsx
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
Due: eslint, prettier --write

message detail
  src/graphql/queries.js
Due: prettier --write

add error page
  src/App.jsx
  src/assets/404.svg
  src/components/common/NotFound.jsx
  src/components/workouts/WorkoutHistoryCard.jsx
  src/graphql/queries.js
Due: eslint, prettier --write

add error page
  src/App.jsx
  src/components/common/ErrorBoundry.jsx
Due: eslint, prettier --write

add errorboundry page
  src/components/common/ErrorBoundry.jsx
  src/components/common/NotFound.jsx
Due: prettier --write

add errorboundry page
  src/components/common/NotFound.jsx
Due: prettier --write

add errorboundry page
  src/App.jsx
  src/components/common/ErrorBoundry.jsx
Due: eslint, prettier --write

style friends
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/Buddies.jsx
  src/components/buddies/BuddiesCard.jsx
  src/components/buddies/BuddiesStyle.js
  src/components/buddies/FriendsRequestTab.jsx
  src/components/buddies/FriendsTab.jsx
  src/graphql/queries.js
Due: prettier --write

style friends
  src/components/buddies/BuddiesCard.jsx
  src/components/buddies/BuddiesStyle.js
Due: prettier --write

implemented social media share features
  package.json
  src/components/workouts/WorkoutHistoryCard.jsx
  src/components/workouts/WorkoutHistoryStyle.js
Due: prettier --write

Attempt to fix google login issues
  config.xml
  platforms/android/app/src/debug/google-services.json
  platforms/android/app/src/main/res/xml/config.xml
  src/App.jsx
  src/components/auth/LogIn.jsx
  src/index.js
Due: eslint, prettier --write

style friends
  src/components/buddies/Buddies.jsx
  src/components/buddies/BuddiesCard.jsx
  src/components/buddies/BuddiesStyle.js
  src/components/buddies/CustomButtons.jsx
  src/components/buddies/FriendsRequestTab.jsx
  src/components/buddies/FriendsTab.jsx
Due: prettier --write

style friends
  src/components/buddies/FriendsRequestTab.jsx
Due: prettier --write

style friends
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/BuddiesStyle.js
  src/components/buddies/FriendsRequestTab.jsx
Due: prettier --write

added photo field to updateUser
  src/components/common/EditProfile.jsx
  src/graphql/mutations.js
Due: prettier --write

style friends
  src/components/buddies/AddFriendsTab.jsx
  src/components/buddies/BuddiesCard.jsx
  src/components/buddies/BuddiesStyle.js
  src/components/buddies/FriendsRequestTab.jsx
  src/components/buddies/FriendsTab.jsx
  src/components/message/MessageDetail.jsx
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
Due: prettier --write

style friends
  src/components/message/MessageList.jsx
  src/components/message/Messages.jsx
Due: prettier --write

Added google auth plugin
  android/app/capacitor.build.gradle
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/java/com/trackdrills/app/MainActivity.java
  android/app/src/main/res/values/strings.xml
  android/capacitor.settings.gradle
  capacitor.config.json
  ios/App/App/capacitor.config.json
  ios/App/App/config.xml
  ios/App/Podfile
  package.json
  public/index.html
  src/components/auth/LogIn.jsx
Due: prettier --write

Path conditions:
  eslint: any of: ./src/*.{js,jsx}
  prettier --write: any of: ./src/**/*.{js,json,jsx}
