Repository LABS-EU3/wt_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js,json,jsx}": [
        "eslint"
    ],
    "./src/**/*.{js,json,jsx}": [
        "prettier --write",
        "git add"
    ]
}

updated configuration
  .lintstagedrc
  package.json
Due: eslint

added coverage script and installed relevant dev dependencies
  .nyc_output/1e8b841c-d66b-4b49-8b3e-3b87313a749a.json
  .nyc_output/3c86c21d-3ed4-435e-bcf0-cc265834fa1f.json
  .nyc_output/42e73bea-2a37-4bc5-b7d2-a15200f78ea6.json
  .nyc_output/47382ad6-8392-48af-ae7c-6e54e0e74deb.json
  .nyc_output/6d929f9f-ed0a-464f-a987-9178ed8f772b.json
  .nyc_output/85733c92-4082-4bfe-81c9-9fb551297640.json
  .nyc_output/8800acea-cdbf-407d-b955-14e189c928a8.json
  .nyc_output/d5f01f31-df0e-4a10-88b3-f09e841b4a30.json
  .nyc_output/d7e05c37-d017-4463-80c4-0cab62e6e817.json
  .nyc_output/eb3b0ba3-1795-4112-9d59-70090bbe0f89.json
  .nyc_output/f173aa2f-b89f-4686-a9b2-fd038ab2bd2d.json
  .nyc_output/processinfo/1e8b841c-d66b-4b49-8b3e-3b87313a749a.json
  .nyc_output/processinfo/3c86c21d-3ed4-435e-bcf0-cc265834fa1f.json
  .nyc_output/processinfo/42e73bea-2a37-4bc5-b7d2-a15200f78ea6.json
  .nyc_output/processinfo/47382ad6-8392-48af-ae7c-6e54e0e74deb.json
  .nyc_output/processinfo/6d929f9f-ed0a-464f-a987-9178ed8f772b.json
  .nyc_output/processinfo/85733c92-4082-4bfe-81c9-9fb551297640.json
  .nyc_output/processinfo/8800acea-cdbf-407d-b955-14e189c928a8.json
  .nyc_output/processinfo/d5f01f31-df0e-4a10-88b3-f09e841b4a30.json
  .nyc_output/processinfo/d7e05c37-d017-4463-80c4-0cab62e6e817.json
  .nyc_output/processinfo/eb3b0ba3-1795-4112-9d59-70090bbe0f89.json
  .nyc_output/processinfo/f173aa2f-b89f-4686-a9b2-fd038ab2bd2d.json
  .nyc_output/processinfo/index.json
  package.json
Due: eslint

added after_success script to .travis.yml file
  .travis.yml
Due: none

added badge code to readme
  .nyc_output/324c7fbf-4be9-4021-ad15-4cce7b1eea6b.json
  .nyc_output/47382ad6-8392-48af-ae7c-6e54e0e74deb.json
  .nyc_output/6d929f9f-ed0a-464f-a987-9178ed8f772b.json
  .nyc_output/7ee653ad-6bdc-43e7-9c3d-ef43fa3c5a55.json
  .nyc_output/830d0700-4c66-45ad-87a0-808a80d82171.json
  .nyc_output/85733c92-4082-4bfe-81c9-9fb551297640.json
  .nyc_output/8800acea-cdbf-407d-b955-14e189c928a8.json
  .nyc_output/d5f01f31-df0e-4a10-88b3-f09e841b4a30.json
  .nyc_output/d7e05c37-d017-4463-80c4-0cab62e6e817.json
  .nyc_output/eb3b0ba3-1795-4112-9d59-70090bbe0f89.json
  .nyc_output/f173aa2f-b89f-4686-a9b2-fd038ab2bd2d.json
  .nyc_output/processinfo/1e8b841c-d66b-4b49-8b3e-3b87313a749a.json
  .nyc_output/processinfo/324c7fbf-4be9-4021-ad15-4cce7b1eea6b.json
  .nyc_output/processinfo/3c86c21d-3ed4-435e-bcf0-cc265834fa1f.json
  .nyc_output/processinfo/42e73bea-2a37-4bc5-b7d2-a15200f78ea6.json
  .nyc_output/processinfo/47382ad6-8392-48af-ae7c-6e54e0e74deb.json
  .nyc_output/processinfo/6d929f9f-ed0a-464f-a987-9178ed8f772b.json
  .nyc_output/processinfo/7ee653ad-6bdc-43e7-9c3d-ef43fa3c5a55.json
  .nyc_output/processinfo/830d0700-4c66-45ad-87a0-808a80d82171.json
  .nyc_output/processinfo/85733c92-4082-4bfe-81c9-9fb551297640.json
  .nyc_output/processinfo/8800acea-cdbf-407d-b955-14e189c928a8.json
  .nyc_output/processinfo/d5f01f31-df0e-4a10-88b3-f09e841b4a30.json
  .nyc_output/processinfo/d7e05c37-d017-4463-80c4-0cab62e6e817.json
  .nyc_output/processinfo/eb3b0ba3-1795-4112-9d59-70090bbe0f89.json
  .nyc_output/processinfo/f173aa2f-b89f-4686-a9b2-fd038ab2bd2d.json
  .nyc_output/processinfo/index.json
  README.md
Due: eslint

updated configuration
  package.json
Due: eslint

removed .nyc_out folder and added it to gitignore
  .gitignore
  .nyc_output/324c7fbf-4be9-4021-ad15-4cce7b1eea6b.json
  .nyc_output/7ee653ad-6bdc-43e7-9c3d-ef43fa3c5a55.json
  .nyc_output/830d0700-4c66-45ad-87a0-808a80d82171.json
  .nyc_output/processinfo/324c7fbf-4be9-4021-ad15-4cce7b1eea6b.json
  .nyc_output/processinfo/7ee653ad-6bdc-43e7-9c3d-ef43fa3c5a55.json
  .nyc_output/processinfo/830d0700-4c66-45ad-87a0-808a80d82171.json
  .nyc_output/processinfo/index.json
Due: eslint

moved coveralls badge and added netlify badge
  README.md
Due: none

update husky, prettier and lintstaged files
  .huskyrc
  .lintstagedrc
  .prettierrc
Due: none

intialized apollo client on frontend
  package.json
  src/index.js
Due: eslint, prettier --write

connected apollo to react application
  src/index.js
Due: eslint, prettier --write

used sample api to test apollo client
  src/App.js
  src/index.js
Due: eslint, prettier --write

Create folder structure for components
  src/components/LogIn.jsx
  src/components/Onboarding.jsx
  src/components/SignUp.jsx
Due: eslint, prettier --write

Install and set up chakra UI
  package.json
  src/App.js
Due: eslint, prettier --write

remove logo.svg file
  src/logo.svg
Due: none

Change favicon
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  src/App.js
  src/App.test.js
Due: eslint, prettier --write

Update favicon
  public/favicon.ico
  public/logo192.png
  public/logo512.png
Due: none

moved sample query to queries file
  .travis.yml
  src/App.js
  src/graphql/mutations.js
  src/graphql/queries.js
Due: eslint, prettier --write

added .env file for api
  .env
  src/index.js
Due: eslint, prettier --write

added .env.example file
  .env.example
Due: none

configured dotenv on frontend
  .env
  package.json
  src/index.js
Due: eslint, prettier --write

edited gitignore and .env.example
  .env.example
  .gitignore
Due: none

removed .env file
  .env
Due: none

create basic login form
  src/App.js
  src/components/LogIn.jsx
Due: eslint, prettier --write

install formik and yup
  package.json
Due: eslint

rendered onboarding component
  package.json
  src/App.js
  src/components/Onboarding.jsx
  src/graphql/queries.js
  src/index.js
Due: eslint, prettier --write

implemented button design for unit selection
  src/components/Onboarding.jsx
Due: eslint, prettier --write

implemented dropdown design for onboarding
  src/components/Onboarding.jsx
Due: eslint, prettier --write

implemented submit design for onboarding
  src/components/Onboarding.jsx
Due: eslint, prettier --write

updated dropdown options
  src/components/Onboarding.jsx
Due: eslint, prettier --write

style form using Chakra UI
  package.json
  src/App.js
  src/components/LogIn.jsx
Due: eslint, prettier --write

image added and styled with styled components
  package.json
  src/components/Onboarding.jsx
  src/images/login_image.png
Due: eslint, prettier --write

Build out sign up form
  package.json
  public/25-Minute-Total-Body-Strength-Workout.jpg
  public/index.html
  src/App.css
  src/App.js
  src/components/SignUp.jsx
Due: eslint, prettier --write

edited dropdown and submit buttons
  src/components/Onboarding.jsx
Due: eslint, prettier --write

complete styling of the page
  src/App.js
  src/components/LogIn.jsx
Due: eslint, prettier --write

create private route component
  src/components/LogIn.jsx
Due: eslint, prettier --write

update set up of Chakra UI library from app.js to index.js
  src/App.js
  src/index.js
Due: eslint, prettier --write

edited unitButton arrangement
  src/components/Onboarding.jsx
Due: eslint, prettier --write

Add banner image to sign up
  src/components/SignUp.jsx
  src/components/assets/banner.jpg
Due: eslint, prettier --write

Work on responsiveness of site
  src/components/SignUp.jsx
Due: eslint, prettier --write

install axios and create axios with Auth file
  package.json
  public/index.html
  src/App.js
  src/components/LogIn.jsx
Due: eslint, prettier --write
